*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(69, 62,62);
}

.container{
    height: 100%;
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 4rem;
    /* justify-items: center; */
    align-items: start;
}

.item{
   height: 100px;
   width: 100px; 
   background-color: rgb(49, 206, 14);
   border: 5px solid rgb(217, 202, 202);
   /* justify-self: center;
   align-self: end; */
   /* place-self: stretch; */
}