*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

.container{
    max-width: 66vw;
    margin: 0 auto;
    padding: 2rem 1rem;
    /* background-color: aqua; */
}

.header_container{
    margin-bottom: 2.8rem;
}


a{
    text-decoration: none;
}

.header_title{
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}

.header_desc{
    max-width: 568px;
    text-align: center;
    color: rgb(105, 99, 99);
    margin: 0 auto;
}

.main_container{
    display: grid;
    /* grid-template-columns: repeat(1, 1fr); */
    /* grid-template-rows: repeat(2, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(350px, 400px));
    justify-content: center;
    gap: 1rem;
}

/* @media (min-width:650px) {
    .main_container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:1080px) {
    .main_container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width:1340px) {
    .main_container{
        grid-template-columns: repeat(4, 1fr);
    }
} */

.card_container{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(111, 109, 109);
    border-radius: 8px;
}

.card_image_container{
    position: relative;
    overflow: hidden;
    height: 14rem;
}

.card_image{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.card_content{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.card_container:hover .card_image{
    transform: scale(1.1);
    transition-duration: 200ms;
}

.card_title{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(25, 23, 23);
    margin-bottom: 0.3rem;
}

.card_title:hover{
    color: rgb(59, 59, 216);
}

.card_desc{
    color: rgb(113, 107, 107);
}

.card_footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1.5rem;
}

.author_footer{
    display: flex;
    gap: 1rem;
}

.author_avtar{
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(150, 147,147);
    border-radius: 50%;
    background-color: rgb(226, 224, 224);
}

.author_info{
    display: flex;
    flex-direction: column;
}

.author_name{
    color: rgb(38, 38, 149);
}

.author_date{
    color: rgb(136, 126, 126);
}

.card_tag_footer{
    font-size: 0.9rem;
    border: 1px solid rgb(76, 71, 71);
    border-radius: 2px;
    padding: 0.25rem 0.5rem;
    margin: 1rem;
    color: grey;
}